.grid {
	background-color: #ff66ff;
	height: 80px;
	width: 80px;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: -4px 0px 0px 0px;
}

#container {
	margin: 10px auto;
	width: 960px;
	height: 960px;
}

button {
	margin: 0px 0px 0px 0px;
}

#clear, #new {
	float: left;
}

#fade, #normal, #random, #sketch {
	float: right;
}

#nav {
	margin: 50px auto;
	width: 960px;
	height: 50px;
}

.newGrid {
	background-color: #ff66ff;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: -4px 0px 0px 0px;
}